Source: libpam-policycache
Priority: optional
Maintainer: Nikki VonHollen <vonhollen@google.com>
Build-Depends: debhelper (>= 9.0.0), libglib2.0-dev, libpam0g-dev, automake,
  libtool, autogen, libscrypt-dev, dh-autoreconf
Standards-Version: 4.5.1
Section: admin
Homepage: https://github.com/google/libpam-policycache

Package: libpam-policycache
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Password caching module with advanced policies for PAM.
 Caches passwords from other PAM modules and bypasses those modules based on a
 configurable policy.
 .
 Why use libpam-policycache?
  * Allows users to login when network is down.
  * Reduces latency and load on remote login services.
  * Restricts cache usage to specific users and groups.
  * Enforces policies like cached password lifetime and rotation.
